.App {
	margin: 0;
  text-align: center;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.modal-download-button {
	display: block;
	width: 40px;
	height: 40px;
	margin-top: 6px;
	transition: transform 0.1s;
}

.modal-download-button:hover {
	transform: scale(1.1);
}

.nav_menu {
  background: #009c4c;
  border-bottom: 1px solid #D9DEE4;
  width: 100%;
}

.nav-form-name {
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 20px;
  color: white;
}

.site-description {
  margin-top: 20px;
	size: 16px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.question-charts-container {
	margin: 0 auto;
	max-width: 80%;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
		 -moz-flex-wrap: wrap;
					flex-wrap: wrap;
}

.chart-centered {
  margin-left: auto;
  margin-right: auto;
}

.no-data {
  color: red;
}

table {
	margin: 0 auto 0;
	border-collapse: collapse;
}
td {
	padding: 8px;
  border-top: 1px solid #ddd;
}
th {
	vertical-align: bottom;
	border-bottom: 2px solid #ddd;
}
tr:nth-child(even) {
	background-color: #f2f2f2
}

.filter-card {
	margin-top: 15px;
	margin-right: 15px;
}

.form-answers-table {
	margin-top: 25px;
	margin-bottom: 35px;
}