.App {
	margin: 0;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.nav_menu {
  background: #009c4c;
  border-bottom: 1px solid #D9DEE4;
  width: 100%;
}

.nav-form-name {
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 20px;
  color: white;
}

.site-description {
  margin-top: 20px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.button-clean-filter {
  display: inline-block;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #00914b;
  color: #fff;
  box-shadow: none;
  padding: 6px 18px !important;
  margin: 12px;
  cursor: pointer;
  text-align: center;
  font-family: Verdana, Arial, sans-serif;
  border: none;
}

.question-charts-container {
	margin: 0 auto;
	max-width: 80%;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
		 -moz-flex-wrap: wrap;
					flex-wrap: wrap;
}

.question-chart-box {
	-webkit-flex-basis: 33.33%;
		 -moz-flex-basis: 33.33%;
					flex-basis: 33.33%;
}

.chart-centered {
  margin-left: auto;
  margin-right: auto;
}

.question-title-container {
  margin-bottom : 15px;
}

.question-title {
  font-style: italic;
  font-weight: bold;
}

.question-title-text {
	color: #3E4551;
}

.no-data {
  color: red;
}

table {
	border-collapse: collapse;
}
td {
	padding: 8px;
  border-top: 1px solid #ddd;
}
th {
	vertical-align: bottom;
	border-bottom: 2px solid #ddd;
}
tr:nth-child(even) {
	background-color: #f2f2f2
}